@font-face {
  font-family: Cabinet;
  src: url("./Fonts/CabinetGrotesk-Variable.ttf");
}
@font-face {
  font-family: Satoshi;
  src: url("./Fonts/Satoshi-Variable.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import "leaflet/dist/leaflet.css";
.leaflet-marker-icon.invisible-marker {
  display: none !important;
  background: transparent !important;
  border: none !important;
  width: 0;
  height: 0;
}

body {
  font-family: cabinet;
  font-weight: bolder;

  background-color: rgb(24, 24, 24);
  color: white;
}

/* Glitch animation for the 404 text */
.errorCode {
  background: linear-gradient(45deg, #ff0057, #333, #ff0057);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-5deg);
  }
  75% {
    transform: skewX(5deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

/* Floating shapes animation */
.shape {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  animation: float 20s infinite linear;
}

.shape1 {
  animation-duration: 25s;
}
.shape2 {
  animation-duration: 18s;
}
.shape3 {
  animation-duration: 22s;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff rgb(24, 24, 24);
}
