@keyframes splash-spin {
  100% {
    transform: rotate(360deg);
  }
}
.animate-splash-spin {
  animation: splash-spin 2.5s linear infinite;
}
@keyframes gradient-flow-ltr {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-flow-rtl {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animated-gradient-ltr {
  background: linear-gradient(
    120deg,
    #0f172a,
    #1e293b,
    #3b0764,
    #1e293b,
    #0f172a
  );
  background-size: 300% 300%;
  animation: gradient-flow-ltr 8s ease-in-out infinite;
}
.animated-gradient-rtl {
  background: linear-gradient(
    120deg,
    #3b0764,
    #1e293b,
    #0f172a,
    #1e293b,
    #3b0764
  );
  background-size: 300% 300%;
  animation: gradient-flow-rtl 8s ease-in-out infinite;
}
